.App {
  text-align: center;
}

.btn-xl{
  width: 120px;
  height: 50px;
  background-color: inherit;
  border: 2px solid #EEF5FF;
  font-size: 14px;
  font-weight: bold;
  transition: all .5s ease;
  color: inherit;
  cursor: pointer;
}
.btn-xl:hover{
  color: #EEF5FF;
  background-color: #86B6F6;
  border: 2px solid #B4D4FF;
}