.Navbar{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all .15s ease-in-out;
    transform: translateY(-100px);
    color: #EEF5FF;
    z-index: 50;
    .right{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 15px;
    }
    .left{
        margin-left: 35px;
        font-family: Cormorant;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 40px;
        }
        h1,h4{
           margin: 0;
        }
        .bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            h4{
                font-size: 18px;
            }
            font-size: 15px
        }
    }
    .navMenubtn{
        background-color: transparent;
        border: none;
        font-size: 30px;
        height: 30px;
        color: inherit;
        cursor: pointer;
    }
    .navMenubtn.active{
        opacity: 0;
        pointer-events: none;
    }
}
.close{
    position: absolute;
    top: 30px;
    right: 10px;
    color:#176B87;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 40px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}
.close.active{
    opacity: 1;
    z-index: 60;
    pointer-events: all;
}
.Navbar.show{
    transform: translateY(0);
    color: #176B87;
    .btn-xl{
        border: 2px solid #86B6F6;
    }
    .btn-xl:hover{
        color: #EEF5FF;
        background-color: #86B6F6;
        border: 2px solid #B4D4FF;
    }
}
.Navbar.top{
    color: #EEF5FF;
    .btn-xl{
        border: 2px solid #EEF5FF;
    }
}
.Navbar.active{
    color: #176B87;
}
.Menu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #B4D4FF;
    z-index: 35;
    transform: translateX(-100vw);
    transition: transform .8s ease-in-out;
    .list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        a{
            text-decoration: none;
            color: #176B87;
            font-size: 40px;
        }
        a:hover{
            color:#218fb4;
        }
    }
}
.Menu.active{
    transform: translateX(0);
}